<nav class="navbar navbar-dark bg-secondary justify-content-end">
  <a class="navbar-brand" href="/{{member}}/profile"><i class="fas fa-user-tie"></i></a>
  <a class="navbar-brand ml-2" href="/{{member}}/mail"><i class="far fa-envelope"></i></a>
  <a class="navbar-brand ml-2" href="/{{member}}/setting"><i class="fas fa-bars"></i></a>
  <label class="mt-2" style="color: white;">{{member}}</label>
</nav>

<div>
  <h1>Welcome back, {{member}}!</h1>
</div>